
@define-color cursor #C090A7;
@define-color background #070002;
@define-color foreground #EFD0DF;
@define-color color0  #080002;
@define-color color1  #8D6C96;
@define-color color2  #A26984;
@define-color color3  #7D7390;
@define-color color4  #9E6697;
@define-color color5  #9188AA;
@define-color color6  #D178A3;
@define-color color7  #E0B3C8;
@define-color color8  #9C7D8C;
@define-color color9  #8D6C96;
@define-color color10 #A26984;
@define-color color11 #7D7390;
@define-color color12 #9E6697;
@define-color color13 #9188AA;
@define-color color14 #D178A3;
@define-color color15 #E0B3C8;
@define-color backgroundWaybar rgba(7,0,2,0.65);