
@define-color cursor #9A9F97;
@define-color background #1F2026;
@define-color foreground #E9EDF3;
@define-color color0  #4A4C54;
@define-color color1  #425873;
@define-color color2  #747967;
@define-color color3  #8B8B69;
@define-color color4  #3999CC;
@define-color color5  #BFA254;
@define-color color6  #C0CBDE;
@define-color color7  #D7DDE6;
@define-color color8  #979AA1;
@define-color color9  #425873;
@define-color color10 #747967;
@define-color color11 #8B8B69;
@define-color color12 #3999CC;
@define-color color13 #BFA254;
@define-color color14 #C0CBDE;
@define-color color15 #D7DDE6;
@define-color backgroundWaybar rgba(31,32,38,0.65);