
@define-color cursor #B186AF;
@define-color background #03000B;
@define-color foreground #EAF3F9;
@define-color color0  #04000D;
@define-color color1  #74668F;
@define-color color2  #974D88;
@define-color color3  #427F9B;
@define-color color4  #E676C1;
@define-color color5  #29ACCC;
@define-color color6  #C2DCED;
@define-color color7  #D8E5EE;
@define-color color8  #97A0A6;
@define-color color9  #74668F;
@define-color color10 #974D88;
@define-color color11 #427F9B;
@define-color color12 #E676C1;
@define-color color13 #29ACCC;
@define-color color14 #C2DCED;
@define-color color15 #D8E5EE;
@define-color backgroundWaybar rgba(3,0,11,0.65);