
@define-color cursor #B7A19D;
@define-color background #000003;
@define-color foreground #D0ECE0;
@define-color color0  #010306;
@define-color color1  #8E676D;
@define-color color2  #A7666B;
@define-color color3  #DB5F65;
@define-color color4  #838A7A;
@define-color color5  #98B1AC;
@define-color color6  #78CAA6;
@define-color color7  #B3DCCA;
@define-color color8  #7D9A8D;
@define-color color9  #8E676D;
@define-color color10 #A7666B;
@define-color color11 #DB5F65;
@define-color color12 #838A7A;
@define-color color13 #98B1AC;
@define-color color14 #78CAA6;
@define-color color15 #B3DCCA;
@define-color backgroundWaybar rgba(0,0,3,0.65);