
@define-color cursor #CFAA8C;
@define-color background #090000;
@define-color foreground #FBF5E7;
@define-color color0  #0B0000;
@define-color color1  #835D56;
@define-color color2  #A9673A;
@define-color color3  #AE7689;
@define-color color4  #CF9952;
@define-color color5  #C0AB92;
@define-color color6  #F3E2BB;
@define-color color7  #F1E8D5;
@define-color color8  #A8A295;
@define-color color9  #835D56;
@define-color color10 #A9673A;
@define-color color11 #AE7689;
@define-color color12 #CF9952;
@define-color color13 #C0AB92;
@define-color color14 #F3E2BB;
@define-color color15 #F1E8D5;
@define-color backgroundWaybar rgba(9,0,0,0.65);