
@define-color cursor #F4DEF9;
@define-color background #070008;
@define-color foreground #F4DEF9;
@define-color color0  #090009;
@define-color color1  #7D6082;
@define-color color2  #7B73B4;
@define-color color3  #AC5EB6;
@define-color color4  #E25487;
@define-color color5  #8783D1;
@define-color color6  #DFA0ED;
@define-color color7  #E7C7EE;
@define-color color8  #A18BA6;
@define-color color9  #7D6082;
@define-color color10 #7B73B4;
@define-color color11 #AC5EB6;
@define-color color12 #E25487;
@define-color color13 #8783D1;
@define-color color14 #DFA0ED;
@define-color color15 #E7C7EE;
@define-color backgroundWaybar rgba(7,0,8,0.65);