
@define-color cursor #FDF0DB;
@define-color background #000209;
@define-color foreground #FDF0DB;
@define-color color0  #0C151A;
@define-color color1  #757A8E;
@define-color color2  #AE6D77;
@define-color color3  #4FADBB;
@define-color color4  #E9AB8A;
@define-color color5  #AABEBC;
@define-color color6  #FAD398;
@define-color color7  #F4E1C3;
@define-color color8  #AB9D88;
@define-color color9  #757A8E;
@define-color color10 #AE6D77;
@define-color color11 #4FADBB;
@define-color color12 #E9AB8A;
@define-color color13 #AABEBC;
@define-color color14 #FAD398;
@define-color color15 #F4E1C3;
@define-color backgroundWaybar rgba(0,2,9,0.65);