
@define-color cursor #98A7DA;
@define-color background #040004;
@define-color foreground #E9E9F2;
@define-color color0  #050005;
@define-color color1  #7A697A;
@define-color color2  #5974C8;
@define-color color3  #AC655F;
@define-color color4  #4BA0D3;
@define-color color5  #999BEC;
@define-color color6  #C1C0D9;
@define-color color7  #D8D7E4;
@define-color color8  #97969F;
@define-color color9  #7A697A;
@define-color color10 #5974C8;
@define-color color11 #AC655F;
@define-color color12 #4BA0D3;
@define-color color13 #999BEC;
@define-color color14 #C1C0D9;
@define-color color15 #D8D7E4;
@define-color backgroundWaybar rgba(4,0,4,0.65);